
@{
    ViewBag.Title = "Index";
}

<h2>Usuarios</h2>

<div class="row">
    
<div class="col-md-10"></div>
    <div class="col-md-2">
        <button class="btn btn-primary" id="UsuarioNuevo">Nuevo</button>
    </div>
</div>

<!--Grid -->
<div class="row">
    <div class="bbGrid-Usuario">
        <div class="loading">Cargando Usuairos..</div>
    </div>
</div>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
     id="winUsuarioNuevo">

</div>

@section scripts {
    
<script src="~/Scripts/Usuarios.js"></script>
      }

